<div style="display: flex; flex-direction: column;">
    <div style="width: 100%; margin: auto;">
        <img style="width: 20rem; margin: 2rem;" src="/assets/img/PHOTO-2023-11-16-11-42-21.jpg" alt="">
    </div>
    <div style="margin-top: 5rem; width: 80rem; margin-left: 1rem; margin-right: 4rem;">
        <p style="color: white; margin-bottom: 6rem;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique incidunt porro velit blanditiis repudiandae dolor fuga cupiditate sit deserunt consequatur libero adipisci at, nostrum, officia ab nobis, eius sapiente commodi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam deleniti perferendis, ipsam magnam quia optio a blanditiis dignissimos molestias impedit, expedita, quidem facilis dolores unde vitae officiis suscipit qui. Dolor!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa dignissimos, debitis, consequatur ratione saepe facilis neque quis nisi, doloribus qui quos eos doloremque. Aut blanditiis voluptas repellat nobis doloribus eligendi!</p>
    </div>
</div>