
<div>
  <img style="width: 100%;" src="/assets/img/banner-precario.png" alt="">
</div>

<div
    *ngIf="getAllCilios$ | async as cilios"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 4rem;
      margin-top: 5rem;
      margin-bottom: 10rem;
      gap: 2rem;
    "
  >
    <div class="card" style="width: 100%; margin: 2rem;" *ngFor="let cilio of cilios">
      <div class="card-body">
        <h5 class="card-title">{{ cilio.name }}</h5>
        <p class="card-text">
          {{ cilio.description }}
        </p>
        <a href="/about" class="btn" style="background-color: antiquewhite"
          >Visualizar</a
        >
      </div>
    </div>
  </div>



  


  