<nav
  class="navbar"
  style="background-color: black; position: relative; height: 20rem"
>
  <div class="container-fluid">
    <div style="display: flex; flex-direction: row; gap: 3rem; margin: auto">
      <div style="margin: 1rem">
        <p style="color: white">
          Endereço: <br />
          Rua Pedro da costa faleiro 466
        </p>
      </div>

      <div style="margin: 1rem">
        <p style="color: white">
          Bairro: <br />
          Parque Figueira Grande
        </p>
      </div>

      <div style="margin: 1rem">
        <p style="color: white">
          Horario Fun: <br />
          seg. 9h ás sex. 18h
        </p>
      </div>
    </div>
  </div>
</nav>
